.console-page {
    height: 100vh;
    background: #1a1a1a;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.console-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1a1a1a;
    padding: 12px 24px;
}

#bimpyLogoConsole {
    width: 15vw;       
    max-width: 600px;   
    height: auto;
}

#startFlightBtn, #flightAnalysisBtn {
    width: fit-content; 
    padding: 0.3em 1.1em; 
    height: 2.5;
    background-color: #575656;
    border-radius: 30px;
    border-color: #A9A5A5;
    border-style: solid;
    border-width: 5px;
    color: #FEF8F8;
    font-family: "Lalezar", sans-serif;
    font-size: 1.5em;
    margin-left: 20px;
}

#startFlightBtn:hover, #flightAnalysisBtn:hover{
    background-color: #454545;
    border-color: #6f6e6e;
    color: #b8b6b6;
    cursor: pointer;
}



.console-body {
  flex: 1;
  min-height: 0;     /* critical */
  overflow: hidden;

  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1.6fr 1fr;
  gap: 16px;
  box-sizing: border-box;
}

.col {
  height: 100%;
  min-height: 0;

  display: flex;
  flex-direction: column;
  gap: 16px;
}


.col-left .panel { flex: 1; } 
.col-mid .panel { flex: 1; }
.col-right .panel { flex: 1; }

.col-mid {
  min-height: 0;
}

.col-mid > :first-child {
  flex: 1;          /* 50% */
  min-height: 0;
}

.col-mid > :nth-child(2) {
  flex: 1;          /* 50% */
  min-height: 0;
}

.col-left > .panel {
  flex: 1;
  min-height: 0;
}