.panel-title {
  margin: 0;
  font-size: 2.5em;
  letter-spacing: 0.2px;
  font-family: "Lalezar", sans-serif;
  color: #FEF8F8;
}

.panel {
  background: #575656;
  border-radius: 20px;
  padding: 20px;
  color: white;
  min-height: 0; 
  height: 25vw;
  display: flex;
  flex-direction: column;
}

.panel-body {
  flex: 1;
  min-height: 0;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 10px;
}
