@font-face {
  font-family: "Lalezar";
  src: url("../../assets/fonts/Lalezar/Lalezar-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Shanti";
  src: url("../../assets/fonts/Shanti/Shanti-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.welcome-container {
    font-family: "Lalezar", sans-serif;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.star-background {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0;
}
.welcome {
    position: relative;
    z-index: 1;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center; 

    color: white;
    text-align: center;
    gap: 2rem;
}

#bimpyLogo {
    width: 70vw;       
    max-width: 600px;   
    height: auto;
}

#blimpImg {
    width: 55vw;       
    max-width: 500px;   
    height: auto;

    animation: blimpFloat 5s ease-in-out infinite;
}

.welcome p {
  opacity: 0.85;
  margin-bottom: 2rem;
}


#startButton {
    width: 17vw;
    height: 6vw;
    background-color: #575656;
    border-radius: 30px;
    border-color: #A9A5A5;
    border-style: solid;
    border-width: 5px;
    color: #FEF8F8;
    font-family: "Lalezar", sans-serif;
    font-size: 3em;
}

#startButton:hover{
    background-color: #454545;
    border-color: #6f6e6e;
    color: #b8b6b6;
    cursor: pointer;
}

@keyframes blimpFloat {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
